<div class="nav-tabs">
  <a href="/" class="nav-item-wrapper {% if include.active == 'home' %}active{% endif %}">
    <span class="nav-link">Home</span>
  </a>

  <a href="/audits/" class="nav-item-wrapper {% if include.active == 'audits' %}active{% endif %}">
    <span class="nav-link">Audits</span>
  </a>

  <a href="/development/" class="nav-item-wrapper {% if include.active == 'development' %}active{% endif %}">
    <span class="nav-link">Development</span>
  </a>

  <a href="/research/" class="nav-item-wrapper {% if include.active == 'research' %}active{% endif %}">
    <span class="nav-link">Research</span>
  </a>

  <a href="/blog/" class="nav-item-wrapper {% if include.active == 'blog' %}active{% endif %}">
    <span class="nav-link">Blogs</span>
  </a>

  <a href="/papers/" class="nav-item-wrapper {% if include.active == 'papers' %}active{% endif %}">
    <span class="nav-link">Papers</span>
  </a>

  <a href="/talks/" class="nav-item-wrapper {% if include.active == 'talks' %}active{% endif %}">
    <span class="nav-link">Talks</span>
  </a>
</div>
